# Arquivos de log gerados pelo npm ou yarn
npm-debug.log*
yarn-error.log
yarn-debug.log*

# ####################### #
# ### DEPENDÊNCIAS ###
# ####################### #
# A regra mais importante: ignora TODAS as pastas node_modules,
# não importa em qual subpasta elas estejam.
**/node_modules

# ####################################### #
# ### SEGREDOS E ARQUIVOS DE AMBIENTE ###
# ####################################### #
# Ignora TODOS os arquivos .env, em qualquer pasta.
# Isso impede que suas senhas e chaves de API vazem.
**/.env
**/.env.*

# ################################## #
# ### ARQUIVOS DE BUILD E CACHE ###
# ################################## #
# Pasta de build do Vite (para o frontend)
/frontend/app/dist
/frontend/app/.vite

# ################################ #
# ### ARQUIVOS DE SISTEMA E IDE ###
# ################################ #
# Arquivos de sistema operacional (Mac e Windows)
.DS_Store
Thumbs.db

# Arquivos de configuração do editor VS Code
.vscode/